/* 
colour
h1
#e5306e

back-ground contact
#100e17

text
#212529

mail
#3997db
*/


/* 
|
|Reset
|
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
|
|General
|
 */

body {
    font-family: 'Fredoka', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    color: #e5306e;
}

/* 
|
|Card
|
 */


.card {
    float: left;
    background-color: #100e17;
    width: calc(100% / 3 - 40px);
    margin: 20px;
    color: white;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img { 
    width: 30%;
    float: left; 
}

.info-about {
    float: left;
    margin: 10px 0 0 10px;
}

.the-job {
    margin: 5px 0;
    font-size: 14px;
}

h3 {
    font-size: 18px;
}

a {
    font-size: 14px;
}

a:link, a:visited {
    color: #3997db;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    color: yellow;
}



/* 
|
|Debug
|
 */









